<h4>
    <a href="#mw-opportunities-{{Id}}">
        <strong>{{title}}</strong>
        {{#if organisation_name}}
            | {{organisation_name}}
        {{/if}}
        {{#each ../sorts}}
            ({{round this 2}} miles)
        {{/each}}
    </a>
</h4>

<ul class="list-inline">
    {{#if reference_code}}
    <li>
        <i class="fa fa-fw fa-book"></i> <strong>Ref:</strong> {{reference_code}}
    </li>
    {{/if}} {{#if start_date}}
    <li>
        <i class="fa fa-fw fa-calendar"></i> <strong>Start date:</strong> {{start_date}}
    </li>
    {{/if}} {{#if work_type}}
    <li>
        <i class="fa fa-fw fa-briefcase"></i> <strong>Work type:</strong> {{work_type}}
    </li>
    {{/if}} {{#if client_group}}
    <li>
        <i class="fa fa-fw fa-users"></i> <strong>Client group:</strong> {{client_group}}
    </li>
    {{/if}} {{#if organisation_charity_number}}
    <li>
        <i class="fa fa-fw fa-hashtag"></i> <strong>Charity number:</strong> {{organisation_charity_number}}
    </li>
    {{/if}}
</ul>

<p>
    {{#if summary}} {{truncate summary 255 '[...]'}} {{else}} No summary given. {{/if}}
</p>
