{{#compare total '==' 0}}
<div class="alert alert-warning">
	<p>Couldn't find an organisation with that username on Good HQ</p>
</div>
{{/compare}}

{{#each results}}
<div class="mw-goodhq-result" id="mw-goodhq-result-{{Id}}">
	{{#if reviewcount}}
	<a href="https://goodhq.org"><img src="https://goodhq.org/images/good_hq_logo.png" /></a>
	<p>
		<a href="https://goodhq.org/{{xid}}">{{name}}</a> has {{reviewcount}} review{{#compare reviewcount '>' 1}}s{{/compare}} on Good HQ<br />
		<ul class="hearts">
            {{#compare stars '<' 0.25}}
                <li class="empty"><span aria-hidden="true" class="icon-heart"></span></li>
            {{/compare}}
            {{#compare stars '>=' 0.25}}
                {{#compare stars '<' 0.75}}
                    <li class="half"><span aria-hidden="true" class="icon-heart"></span></li>
                {{/compare}}
                {{#compare stars '>=' 0.75}}
                    <li class="filled"><span aria-hidden="true" class="icon-heart"></span></li>
                {{/compare}}
            {{/compare}}
            {{#compare stars '<' 1.25}}
                <li class="empty"><span aria-hidden="true" class="icon-heart"></span></li>
            {{/compare}}
            {{#compare stars '>=' 1.25}}
                {{#compare stars '<' 1.75}}
                    <li class="half"><span aria-hidden="true" class="icon-heart"></span></li>
                {{/compare}}
                {{#compare stars '>=' 1.75}}
                    <li class="filled"><span aria-hidden="true" class="icon-heart"></span></li>
                {{/compare}}
            {{/compare}}
            {{#compare stars '<' 2.25}}
                <li class="empty"><span aria-hidden="true" class="icon-heart"></span></li>
            {{/compare}}
            {{#compare stars '>=' 2.25}}
                {{#compare stars '<' 2.75}}
                    <li class="half"><span aria-hidden="true" class="icon-heart"></span></li>
                {{/compare}}
                {{#compare stars '>=' 2.75}}
                    <li class="filled"><span aria-hidden="true" class="icon-heart"></span></li>
                {{/compare}}
            {{/compare}}
            {{#compare stars '<' 3.25}}
                <li class="empty"><span aria-hidden="true" class="icon-heart"></span></li>
            {{/compare}}
            {{#compare stars '>=' 3.25}}
                {{#compare stars '<' 3.75}}
                    <li class="half"><span aria-hidden="true" class="icon-heart"></span></li>
                {{/compare}}
                {{#compare stars '>=' 3.75}}
                    <li class="filled"><span aria-hidden="true" class="icon-heart"></span></li>
                {{/compare}}
            {{/compare}}
            {{#compare stars '<' 4.25}}
                <li class="empty"><span aria-hidden="true" class="icon-heart"></span></li>
            {{/compare}}
            {{#compare stars '>=' 4.25}}
                {{#compare stars '<' 4.75}}
                    <li class="half"><span aria-hidden="true" class="icon-heart"></span></li>
                {{/compare}}
                {{#compare stars '>=' 4.75}}
                    <li class="filled"><span aria-hidden="true" class="icon-heart"></span></li>
                {{/compare}}
            {{/compare}}
		</ul>
		<a href="https://goodhq.org/{{xid}}/review">Share your story</a> |
		<a href="https://goodhq.org/{{xid}}?mode=review">Read review{{#compare reviewcount '>' 1}}s{{/compare}}</a>
	</p>
	{{else}}
	<p>
		<a href="https://goodhq.org/{{xid}}">{{name}}</a> is on
	</p>
	<a href="https://goodhq.org"><img src="https://goodhq.org/images/good_hq_logo.png" /></a>
	<p>
		Be the first person to<br />
		<strong><a href="https://goodhq.org/{{xid}}/review">share your story</a></strong>
	</p>
	{{/if}}
</div>
{{/each}}
