<div class="mw-search-widget mw-search-widget-inner">
    <div class="row">
        <div class="col-sm-12">
            <h3>{{title}}</h3>
        </div>
    </div>

    <div class="mw-search-form" id="mw-{{name}}-form"></div>

    <!-- <hr /> -->

    <div class="row form-group text-right">
        <div class="col-sm-12">
            <button type="button" class="btn btn-primary mw-search-button" id="mw-{{name}}-search-button">
                Search
                <i class="fa fa-fw fa-search"></i>
            </button>
        </div>
    </div>
</div>

<div class="mw-search-widget mw-search-widget-detail">
    <a name="mw-{{name}}-top"></a>

    {{> navigation this}}

    <div class="mw-body" id="mw-{{name}}-body"></div>

    <div class="mw-map" id="mw-{{name}}-map"></div>

    {{> navigation this}}
</div>

<div class="clearfix"></div>
