<div class="mw-search-widget mw-search-widget-inner">
    <div class="row mw-title">
        <div class="col-sm-12">
            <h3>{{title}}</h3>
        </div>
    </div>

    <div class="mw-search-form" id="mw-{{name}}-form"></div>

    <div class="row form-group text-right">
        <div class="col-sm-12">
            <button type="button" class="btn btn-primary mw-search-button" id="mw-{{name}}-search-button">
                Search
                <i class="fa fa-fw fa-search"></i>
            </button>
        </div>
    </div>
</div>

<div class="mw-search-widget mw-search-widget-detail mw-search-widget-{{style}}">
    <a name="mw-{{name}}-top"></a>

    <div class="navigation-top">{{> navigation this}}</div>

    <div class="mw-body" id="mw-{{name}}-body"></div>

    <div class="mw-map" id="mw-{{name}}-map"></div>

    <div class="navigation-bottom">{{> navigation this}}</div>
</div>

<div class="clearfix"></div>
