{{#xif total '>' 0}}
<div class="alert alert-info">
	<a href="#" class="pull-right" id="mw-opportunities-expand-collapse-all">
		Expand/Collapse All
	</a>
	<p>Number of results: {{total}} | Page {{currentPage}} of {{totalPages}}</p>
</div>
{{else}}
<div class="alert alert-warning">
	<p>No Results</p>
</div>
{{/xif}}

{{#each results}}
<div class="panel panel-default mw-opportunities-result">
	<div class="panel-heading" data-toggle="collapse" data-target="#mw-opportunities-result-{{Id}}" title="Show/Hide Result Details">
		<h3 class="panel-title">
			<i class="fa fa-fw fa-chevron-down fa-pull-right"></i>
			<strong>{{title}}</strong>
			{{#if organisationName}}
			| {{organisationName}}
			{{/if}}
			{{#each ../sorts}}
			({{round this 2}} miles)
			{{/each}}
		</h3>
	</div>

	<div class="panel-collapse hide" id="mw-opportunities-result-{{Id}}">
		<div class="panel-body">
			<button type="button" class="btn btn-primary pull-right" data-toggle="print" data-id="{{Id}}">
				<i class="fa fa-fw fa-print"></i>
				Print
			</button>

			<ul class="list-inline">
				{{#if referenceCode}}
				<li>
					<i class="fa-fw fa fa-barcode" aria-hidden="true"></i> Ref: {{referenceCode}}
				</li>
				{{/if}}
				{{#if startData}}
				<li>
					<i class="fa-fw fa fa-calendar" aria-hidden="true"></i> Start Date: {{startDate}}
				</li>
				{{/if}}
				{{#if workType}}
				<li>
					<i class="fa-fw fa fa-briefcase" aria-hidden="true"></i> Work Type: {{workType}}
				</li>
				{{/if}}
				{{#if clientGroup}}
				<li>
					<i class="fa-fw fa fa-thumbs-up" aria-hidden="true"></i> Client Group: {{clientGroup}}
				</li>
				{{/if}}
				{{#if organisationCharityNo}}
				<li>
					<i class="fa fa-fw fa-hashtag" aria-hidden="true"></i> Charity Number: {{organisationCharityNo}}
				</li>
				{{/if}}
			</ul>

			{{ps summary}}

			<hr />

			<em>Click on a section below to view more information</em>

			<ul class="nav nav-tabs">
				<li>
					<a href="#" data-toggle="tab" data-target="#mw-opportunities-result-{{Id}}-description">
						<i class="fa fa-fw fa-info-circle"></i>
						Description
					</a>
				</li>
				<li>
					<a href="#" data-toggle="tab" data-target="#mw-opportunities-result-{{Id}}-times">
						<i class="fa fa-fw fa-clock-o"></i>
						Opening Times
					</a>

				</li>
				<li>
					<a href="#" data-toggle="tab" data-target="#mw-opportunities-result-{{Id}}-restrictions">
						<i class="fa fa-fw fa-flag"></i>
						Restrictions
					</a>

				</li>
				<li>
					<a href="#" data-toggle="tab" data-target="#mw-opportunities-result-{{Id}}-support">
						<i class="fa fa-fw fa-cog"></i>
						Support
					</a>

				</li>
				<li>
					<a href="#" data-toggle="tab" data-target="#mw-opportunities-result-{{Id}}-contact">
						<i class="fa fa-fw fa-bullhorn"></i>
						Contact
					</a>
				</li>
			</ul>
			<div style="margin-top:15px">
				<div class="tab hide" id="mw-opportunities-result-{{Id}}-description">
					{{#if fullDescription}}
					<h4>
						<i class="fa fa-fw fa-align-left"></i>
						<strong>Opportunity Details</strong>:
					</h4>
					{{ps fullDescription}}
					{{/if}}

					{{#if organisationAims_And_Objectives}}
					<h4>
						<i class="fa fa-fw fa-bullseye"></i>
						<strong>Organisation's Aims and Objectives</strong>:
					</h4>
					{{ps organisationAims_And_Objectives}}
					{{/if}}
				</div>
				<div class="tab hide" id="mw-opportunities-result-{{Id}}-times">
					<div class="table-responsive">
						<table class="table table-condensed table-hover">
							<thead>
								<tr>
									<th></th>
									<th>Mon</th>
									<th>Tue</th>
									<th>Wed</th>
									<th>Thu</th>
									<th>Fri</th>
									<th>Sat</th>
									<th>Sun</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th>Morning</th>
									<td>{{#if mondayMorning}}<i class="fa fa-fw fa-check"></i>{{/if}}</td>
									<td>{{#if tuesdayMorning}}<i class="fa fa-fw fa-check"></i>{{/if}}</td>
									<td>{{#if wednesdayMorning}}<i class="fa fa-fw fa-check"></i>{{/if}}</td>
									<td>{{#if thursdayMorning}}<i class="fa fa-fw fa-check"></i>{{/if}}</td>
									<td>{{#if fridayMorning}}<i class="fa fa-fw fa-check"></i>{{/if}}</td>
									<td>{{#if saturdayMorning}}<i class="fa fa-fw fa-check"></i>{{/if}}</td>
									<td>{{#if sundayMorning}}<i class="fa fa-fw fa-check"></i>{{/if}}</td>
								</tr>
								<tr>
									<th>Afternoon</th>
									<td>{{#if mondayAfternoon}}<i class="fa fa-fw fa-check"></i>{{/if}}</td>
									<td>{{#if tuesdayAfternoon}}<i class="fa fa-fw fa-check"></i>{{/if}}</td>
									<td>{{#if wednesdayAfternoon}}<i class="fa fa-fw fa-check"></i>{{/if}}</td>
									<td>{{#if thursdayAfternoon}}<i class="fa fa-fw fa-check"></i>{{/if}}</td>
									<td>{{#if fridayAfternoon}}<i class="fa fa-fw fa-check"></i>{{/if}}</td>
									<td>{{#if saturdayAfternoon}}<i class="fa fa-fw fa-check"></i>{{/if}}</td>
									<td>{{#if sundayAfternoon}}<i class="fa fa-fw fa-check"></i>{{/if}}</td>
								</tr>
								<tr>
									<th>Evening</th>
									<td>{{#if mondayEvening}}<i class="fa fa-fw fa-check"></i>{{/if}}</td>
									<td>{{#if tuesdayEvening}}<i class="fa fa-fw fa-check"></i>{{/if}}</td>
									<td>{{#if wednesdayEvening}}<i class="fa fa-fw fa-check"></i>{{/if}}</td>
									<td>{{#if thursdayEvening}}<i class="fa fa-fw fa-check"></i>{{/if}}</td>
									<td>{{#if fridayEvening}}<i class="fa fa-fw fa-check"></i>{{/if}}</td>
									<td>{{#if saturdayEvening}}<i class="fa fa-fw fa-check"></i>{{/if}}</td>
									<td>{{#if sundayEvening}}<i class="fa fa-fw fa-check"></i>{{/if}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="tab hide" id="mw-opportunities-result-{{Id}}-restrictions">
					<dl class="dl-horizontal">
						<dt>
							<i class="fa fa-fw fa-graduation-cap"></i>
							Experience Required:
						</dt>
						<dd>{{ps experienceRequired}}</dd>

						{{#if restrictionDetails}}
						<dt>
							<i class="fa fa-fw fa-flag"></i>
							Restriction Details:
						</dt>
						<dd>{{ps restrictionDetails}}</dd>
						{{/if}}

						{{#if travelDetails}}
						<dt>
							<i class="fa fa-fw fa-plane"></i>
							Travel Details
						</dt>
						<dd>{{travelDetails}}</dd>
						{{/if}}

						<dt>
							<i class="fa fa-fw fa-child"></i>
							Minimum Age:
						</dt>
						<dd>{{minimumAge}}</dd>
					</dl>
				</div>
				<div class="tab hide" id="mw-opportunities-result-{{Id}}-support">
					<dl class="dl-horizontal">
						{{#if travelExpenses}}
						<dt>
							<i class="fa fa-fw fa-road"></i>
							Travel Expenses:
						</dt>
						<dd>{{travelExpenses}}</dd>
						{{/if}}
						{{#if Frequency}}
						<dt>
							<i class="fa fa-fw fa-clock-o"></i>
							frequency:
						</dt>
						<dd>{{frequency}}</dd>
						{{/if}}

						{{#if expensesPaid}}
						<dt>
							<i class="fa fa-fw fa-gbp"></i>
							Expenses Paid:
						</dt>
						<dd>{{abx expensesPaid 'Yes' 'No'}}</dd>
						{{/if}}

						<dt>
							<i class="fa fa-fw fa-th-list"></i>
							Support Options:
						</dt>
						<dd>{{supportOptions}}</dd>
					</dl>
				</div>
				<div class="tab hide" id="mw-opportunities-result-{{Id}}-contact">
					{{#xif detailsToDisplayOnVS '==' 'TSI/VC'}}
					<h4>TSI/VC</h4>
					<dl class="dl-horizontal">
						<dt>
							<i class="fa fa-fw fa-user"></i>
							Contact Name:
						</dt>
						<dd>{{tsiContactFirstName}} {{tsiContactLastName}}</dd>

						{{#validpa this}}
						<dt>
							<i class="fa fa-fw fa-home"></i>
							Address:
						</dt>
						<dd>{{pa this}}</dd>
						{{/validpa}}

						{{#validtel tsiContactPhone}}
						<dt>
							<i class="fa fa-fw fa-phone"></i>
							Phone:
						</dt>
						<dd><a href="tel:{{tsiContactPhone}}">{{tsiContactPhone}}</a></dd>
						{{/validtel}}

						{{#if organisationWebsite}}
						<dt>
							<i class="fa fa-fw fa-globe"></i>
							Website:
						</dt>
						<dd>
							<a href="{{uri organisationWebsite 'http'}}" target="_blank">Visit Website</a>
						</dd>
						{{/if}}

						{{#if tsiContactEmail}}
						<dt>
							<i class="fa fa-fw fa-envelope-o"></i>
							Email:
						</dt>
						<dd>
							<a href="mailto:{{uri tsiContactEmail 'mailto'}}">Send Email</a>
						</dd>
						{{/if}}
					</dl>
					{{else}}
					<h4>Organisation</h4>
					<dl class="dl-horizontal">
						<dt>
							<i class="fa fa-fw fa-user"></i>
							Contact Name:
						</dt>
						<dd>{{organisationContactFirstName}} {{organisationContactLastName}}</dd>

						{{#validpa this}}
						<dt>
							<i class="fa fa-fw fa-home"></i>
							Address:
						</dt>
						<dd>{{pa this}}</dd>
						{{/validpa}}

						{{#validtel organisationContactPhone}}
						<dt>
							<i class="fa fa-fw fa-phone"></i>
							Phone:
						</dt>
						<dd><a href="tel:{{organisationContactPhone}}">{{organisationContactPhone}}</a></dd>
						{{/validtel}}

						{{#if organisationWebsite}}
						<dt>
							<i class="fa fa-fw fa-globe"></i>
							Website:
						</dt>
						<dd>
							<a href="{{uri organisationWebsite 'http'}}" target="_blank">Visit Website</a>
						</dd>
						{{/if}}

						{{#if organisationContactEmail}}
						<dt>
							<i class="fa fa-fw fa-envelope-o"></i>
							Email:
						</dt>
						<dd>
							<a href="{{uri organisationContactEmail 'mailto'}}">Send Email</a>
						</dd>
						{{/if}}
					</dl>
					{{/xif}}
				</div>
			</div>
		</div>
	</div>
</div>
{{/each}}
<hr />
<nav>
	<ul class="pager">
		<li class="previous">
			<button class="btn" type="button" data-search="{{previousPage}}" {{#unless previousPage}}disabled{{/unless}}>
				Previous
			</button>
		</li>
		<li class="next">
			<button class="btn" type="button" data-search="{{nextPage}}" {{#unless nextPage}}disabled{{/unless}}>
				Next
			</button>
		</li>
	</ul>
</nav>