{{#xif total '>' 0}}
<div class="alert alert-info">
	<a role="button" class="pull-right" id="mw-opportunities-expand-collapse-all">
		Expand/Collapse All
	</a>
	<p>Number of results: {{total}} | Page {{currentPage}} of {{totalPages}}</p>
</div>
{{else}}
<div class="alert alert-warning">
	<p>No Results</p>
</div>
{{/xif}}

{{#each results}}
<div class="panel panel-default mw-opportunities-result" id="mw-opportunities-result-panel-{{Id}}">
	<div class="panel-heading" data-toggle="collapse" data-target="#mw-opportunities-result-{{Id}}" title="Show/Hide Result Details">
		<h3 class="panel-title">
			<span class="mw-emoji pull-right">&#9207;</span>
			<strong>{{title}}</strong>
			{{#if organisationName}}
			| {{organisationName}}
			{{/if}}
			{{#each ../sorts}}
			({{round this 2}} miles)
			{{/each}}
		</h3>
	</div>

	<div class="panel-collapse hide" id="mw-opportunities-result-{{Id}}">
		<div class="panel-body">
			<button type="button" class="btn btn-primary pull-right" data-toggle="print" data-id="{{Id}}">
				<span class="mw-emoji left">&#128438;</span>
				Print
			</button>

			<ul class="list-inline">
				{{#if referenceCode}}
				<li>
					<span class="mw-emoji">&#127380;</span> Ref: {{referenceCode}}
				</li>
				{{/if}}
				{{#if startData}}
				<li>
					<span class="mw-emoji">&#128197;</span> Start Date: {{startDate}}
				</li>
				{{/if}}
				{{#if workType}}
				<li>
					<span class="mw-emoji">&#128188;</span> Work Type: {{workType}}
				</li>
				{{/if}}
				{{#if clientGroup}}
				<li>
					<span class="mw-emoji">&#128077;</span> Client Group: {{clientGroup}}
				</li>
				{{/if}}
				{{#if organisationCharityNo}}
				<li>
					<span class="mw-emoji">&#35;</span> Charity Number: {{organisationCharityNo}}
				</li>
				{{/if}}
			</ul>

			<h4>
				Summary:
			</h4>
			{{ps summary}}

			<hr>

			{{#if fullDescription}}
			<h4>
				<span class="mw-emoji">&#128441;</span>
				Opportunity Details:
			</h4>
			{{ps fullDescription}}

			<hr>
			{{/if}}

			{{#if organisationAims_And_Objectives}}
			<h4>
				<span class="mw-emoji">&#128907;</span>
				Organisation's Aims and Objectives:
			</h4>
			{{ps organisationAims_And_Objectives}}
			{{/if}}

			<hr>

			<h4><span class="mw-emoji">&#8986;</span> Opening Times</h4>
			<div class="table-responsive">
				<table class="table table-condensed table-hover">
					<thead>
						<tr>
							<th></th>
							<th style="text-align:center;font-weight:bold;">Mon</th>
							<th style="text-align:center;font-weight:bold;">Tue</th>
							<th style="text-align:center;font-weight:bold;">Wed</th>
							<th style="text-align:center;font-weight:bold;">Thu</th>
							<th style="text-align:center;font-weight:bold;">Fri</th>
							<th style="text-align:center;font-weight:bold;">Sat</th>
							<th style="text-align:center;font-weight:bold;">Sun</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th>Morning</th>
							<td style="text-align:center;font-weight:bold;">{{#if mondayMorning}}<span class="mw-emoji">&#9745;</span>{{else}}<span class="mw-emoji">&#9744;</span>{{/if}}</td>
							<td style="text-align:center;font-weight:bold;">{{#if tuesdayMorning}}<span class="mw-emoji">&#9745;</span>{{else}}<span class="mw-emoji">&#9744;</span>{{/if}}</td>
							<td style="text-align:center;font-weight:bold;">{{#if wednesdayMorning}}<span class="mw-emoji">&#9745;</span>{{else}}<span class="mw-emoji">&#9744;</span>{{/if}}</td>
							<td style="text-align:center;font-weight:bold;">{{#if thursdayMorning}}<span class="mw-emoji">&#9745;</span>{{else}}<span class="mw-emoji">&#9744;</span>{{/if}}</td>
							<td style="text-align:center;font-weight:bold;">{{#if fridayMorning}}<span class="mw-emoji">&#9745;</span>{{else}}<span class="mw-emoji">&#9744;</span>{{/if}}</td>
							<td style="text-align:center;font-weight:bold;">{{#if saturdayMorning}}<span class="mw-emoji">&#9745;</span>{{else}}<span class="mw-emoji">&#9744;</span>{{/if}}</td>
							<td style="text-align:center;font-weight:bold;">{{#if sundayMorning}}<span class="mw-emoji">&#9745;</span>{{else}}<span class="mw-emoji">&#9744;</span>{{/if}}</td>
						</tr>
						<tr>
							<th>Afternoon</th>
							<td style="text-align:center;font-weight:bold;">{{#if mondayAfternoon}}<span class="mw-emoji">&#9745;</span>{{else}}<span class="mw-emoji">&#9744;</span>{{/if}}</td>
							<td style="text-align:center;font-weight:bold;">{{#if tuesdayAfternoon}}<span class="mw-emoji">&#9745;</span>{{else}}<span class="mw-emoji">&#9744;</span>{{/if}}</td>
							<td style="text-align:center;font-weight:bold;">{{#if wednesdayAfternoon}}<span class="mw-emoji">&#9745;</span>{{else}}<span class="mw-emoji">&#9744;</span>{{/if}}</td>
							<td style="text-align:center;font-weight:bold;">{{#if thursdayAfternoon}}<span class="mw-emoji">&#9745;</span>{{else}}<span class="mw-emoji">&#9744;</span>{{/if}}</td>
							<td style="text-align:center;font-weight:bold;">{{#if fridayAfternoon}}<span class="mw-emoji">&#9745;</span>{{else}}<span class="mw-emoji">&#9744;</span>{{/if}}</td>
							<td style="text-align:center;font-weight:bold;">{{#if saturdayAfternoon}}<span class="mw-emoji">&#9745;</span>{{else}}<span class="mw-emoji">&#9744;</span>{{/if}}</td>
							<td style="text-align:center;font-weight:bold;">{{#if sundayAfternoon}}<span class="mw-emoji">&#9745;</span>{{else}}<span class="mw-emoji">&#9744;</span>{{/if}}</td>
						</tr>
						<tr>
							<th>Evening</th>
							<td style="text-align:center;font-weight:bold;">{{#if mondayEvening}}<span class="mw-emoji">&#9745;</span>{{else}}<span class="mw-emoji">&#9744;</span>{{/if}}</td>
							<td style="text-align:center;font-weight:bold;">{{#if tuesdayEvening}}<span class="mw-emoji">&#9745;</span>{{else}}<span class="mw-emoji">&#9744;</span>{{/if}}</td>
							<td style="text-align:center;font-weight:bold;">{{#if wednesdayEvening}}<span class="mw-emoji">&#9745;</span>{{else}}<span class="mw-emoji">&#9744;</span>{{/if}}</td>
							<td style="text-align:center;font-weight:bold;">{{#if thursdayEvening}}<span class="mw-emoji">&#9745;</span>{{else}}<span class="mw-emoji">&#9744;</span>{{/if}}</td>
							<td style="text-align:center;font-weight:bold;">{{#if fridayEvening}}<span class="mw-emoji">&#9745;</span>{{else}}<span class="mw-emoji">&#9744;</span>{{/if}}</td>
							<td style="text-align:center;font-weight:bold;">{{#if saturdayEvening}}<span class="mw-emoji">&#9745;</span>{{else}}<span class="mw-emoji">&#9744;</span>{{/if}}</td>
							<td style="text-align:center;font-weight:bold;">{{#if sundayEvening}}<span class="mw-emoji">&#9745;</span>{{else}}<span class="mw-emoji">&#9744;</span>{{/if}}</td>
						</tr>
					</tbody>
				</table>
			</div>

			<hr>

			<h4><span class="mw-emoji">&#9873;</span> Restrictions</h4>
			<dl class="dl-horizontal">
				<dt>
					<span class="mw-emoji">&#127891;</span>
					Experience Required:
				</dt>
				<dd>{{ps experienceRequired}}</dd>

				{{#if restrictionDetails}}
				<dt>
					<span class="mw-emoji">&#9873;</span>
					Restriction Details:
				</dt>
				<dd>{{ps restrictionDetails}}</dd>
				{{/if}}

				{{#if travelDetails}}
				<dt>
					<span class="mw-emoji">&#9992;</span>
					Travel Details
				</dt>
				<dd>{{travelDetails}}</dd>
				{{/if}}

				<dt>
					<span class="mw-emoji">&#128286;</span>
					Minimum Age:
				</dt>
				<dd>{{minimumAge}}</dd>
			</dl>

			<hr>

			<h4><span class="mw-emoji">&#128129;</span> Support</h4>
			<dl class="dl-horizontal">
				{{#if travelExpenses}}
				<dt>
					<span class="mw-emoji">&#128183;</span>
					Travel Expenses:
				</dt>
				<dd>{{travelExpenses}}</dd>
				{{/if}}
				{{#if Frequency}}
				<dt>
					<span class="mw-emoji">&#8986;</span>
					Frequency:
				</dt>
				<dd>{{frequency}}</dd>
				{{/if}}

				{{#if expensesPaid}}
				<dt>
					<span class="mw-emoji">&#65505;</span>
					Expenses Paid:
				</dt>
				<dd>{{abx expensesPaid 'Yes' 'No'}}</dd>
				{{/if}}

				<dt>
					<span class="mw-emoji">&#45;</span>
					Support Options:
				</dt>
				<dd>{{supportOptions}}</dd>
			</dl>

			<hr>

			{{#xif detailsToDisplayOnVS '==' 'TSI/VC'}}
			<h4><span class="mw-emoji">&#128363;</span> TSI/VC Contact</h4>
			<dl class="dl-horizontal">
				<dt>
					<span class="mw-emoji">&#128129;</span>
					Contact Name:
				</dt>
				<dd>{{tsiContactFirstName}} {{tsiContactLastName}}</dd>

				{{#validpa this}}
				<dt>
					<span class="mw-emoji">&#8962;</span>
					Address:
				</dt>
				<dd>{{pa this}}</dd>
				{{/validpa}}

				{{#validtel tsiContactPhone}}
				<dt>
					<span class="mw-emoji">&#128222;</span>
					Phone:
				</dt>
				<dd><a href="tel:{{tsiContactPhone}}">{{tsiContactPhone}}</a></dd>
				{{/validtel}}

				{{#if organisationWebsite}}
				<dt>
					<span class="mw-emoji">&#128279;</span>
					Website:
				</dt>
				<dd>
					<a href="{{uri organisationWebsite 'http'}}" target="_blank">Visit Website</a>
				</dd>
				{{/if}}

				{{#if tsiContactEmail}}
				<dt>
					<span class="mw-emoji">&#128386;</span>
					Email:
				</dt>
				<dd>
					<a href="mailto:{{uri tsiContactEmail 'mailto'}}">Send Email</a>
				</dd>
				{{/if}}
			</dl>
			{{else}}
			<h4><span class="mw-emoji">&#128363;</span> Organisation Contact</h4>
			<dl class="dl-horizontal">
				<dt>
					<span class="mw-emoji">&#128129;</span>
					Contact Name:
				</dt>
				<dd>{{organisationContactFirstName}} {{organisationContactLastName}}</dd>

				{{#validpa this}}
				<dt>
					<span class="mw-emoji">&#8962;</span>
					Address:
				</dt>
				<dd>{{pa this}}</dd>
				{{/validpa}}

				{{#validtel organisationContactPhone}}
				<dt>
					<span class="mw-emoji">&#128222;</span>
					Phone:
				</dt>
				<dd><a href="tel:{{organisationContactPhone}}">{{organisationContactPhone}}</a></dd>
				{{/validtel}}

				{{#if organisationWebsite}}
				<dt>
					<span class="mw-emoji">&#128279;</span>
					Website:
				</dt>
				<dd>
					<a href="{{uri organisationWebsite 'http'}}" target="_blank">Visit Website</a>
				</dd>
				{{/if}}

				{{#if organisationContactEmail}}
				<dt>
					<span class="mw-emoji">&#128386;</span>
					Email:
				</dt>
				<dd>
					<a href="{{uri organisationContactEmail 'mailto'}}">Send Email</a>
				</dd>
				{{/if}}
			</dl>
			{{/xif}}
		</div>
	</div>
</div>
{{/each}}
<hr />
<nav>
	<ul class="pager">
		<li class="previous">
			<button class="btn" type="button" data-search="{{previousPage}}" {{#unless previousPage}}disabled{{/unless}}>
				Previous
			</button>
		</li>
		<li class="next">
			<button class="btn" type="button" data-search="{{nextPage}}" {{#unless nextPage}}disabled{{/unless}}>
				Next
			</button>
		</li>
	</ul>
</nav>