{{#xif total '>' 0}}
<div class="alert alert-info">
	<a href="#" class="pull-right" id="mw-organisations-expand-collapse-all">
		Expand/Collapse All
	</a>
	<p>Number of results: {{total}} | Page {{currentPage}} of {{totalPages}}</p>
</div>
{{else}}
<div class="alert alert-warning">
	<p>No Results</p>
</div>
{{/xif}}

{{#each results}}
<div class="panel panel-default mw-organisations-result">
	<div class="panel-heading" title="Show/Hide Result Details">
		<h3 class="panel-title">
			<i class="fa fa-fw fa-chevron-down fa-pull-right"></i>
			<strong>{{name}}</strong>
			{{#if registeredCharityNo}}
			<small>({{registeredCharityNo}})</small>
			{{/if}}
		</h3>
	</div>

	<div class="panel-collapse hide" id="mw-organisations-result-{{Id}}">
		<div class="panel-body">
			<div class="row">
				<div class="col-sm-8">
					<div class="row">
						<div class="col-sm-6">
							<h3>Primary Address</h3>
							{{pa this}}
						</div>
						<div class="col-sm-6">
							<h3>Contact Information</h3>
							<ul class="list-unstyled">
								{{#if phone}}
								<li>
									<strong>Phone:</strong>
									<a href="tel:{{phone}}">{{phone}}</a>
								</li>
								{{/if}}
								{{#if email}}
								<li>
									<strong>Email:</strong>
									<a href="mailto:{{email}}">Send Email</a>
								</li>
								{{/if}}
								{{#if website}}
								<li>
									<strong>Website:</strong>
									<a href="{{uri website}}">Visit Website</a>
								</li>
								{{/if}}
							</ul>
						</div>
					</div>
					<h3>Aims and Objectives</h3>
					{{#if aimsAndObjectives}}
					{{ps aimsAndObjectives}}
					{{else}}
					No Aims or Objectives given.
					{{/if}}
				</div>
				<div class="col-sm-4">
					<h3>Activities</h3>
					<ul class="">
					{{#each mainActivitiesGlobal}}
						<li>{{this}}</li>
					{{/each}}
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
{{/each}}
<hr />
<nav>
	<ul class="pager">
		<li class="previous">
			<button class="btn" type="button" data-search="{{previousPage}}" {{#unless previousPage}}disabled{{/unless}}>
				Previous
			</button>
		</li>
		<li class="next">
			<button class="btn" type="button" data-search="{{nextPage}}" {{#unless nextPage}}disabled{{/unless}}>
				Next
			</button>
		</li>
	</ul>
</nav>