{{#xif total '>' 0}}
<div class="alert alert-info">
	Number of results: {{total}} | Page {{currentPage}} of {{totalPages}}
</div>
{{else}}
<div class="alert alert-warning">
	<p>No Results</p>
</div>
{{/xif}}

<nav>
	<ul class="pager">
		<li class="previous">
			<button class="btn" type="button" data-search="{{previousPage}}" {{#unless previousPage}}disabled{{/unless}}>
				Previous
			</button>
		</li>
		<li class="next">
			<button class="btn" type="button" data-search="{{nextPage}}" {{#unless nextPage}}disabled{{/unless}}>
				Next
			</button>
		</li>
	</ul>
</nav>

{{#each results}}
<div class="panel panel-default mw-organisations-result">
	<div class="panel-heading">
		<h3 class="panel-title">
			<strong>{{name}}</strong> {{#if registeredCharityNo}}
			<small>({{registeredCharityNo}})</small> {{/if}}
		</h3>
	</div>

	<div class="panel-body" id="mw-organisations-result-{{Id}}">
		<div class="row">
			<div class="col-sm-8">
				<h4>Aims and Objectives</h4>
				{{#if aimsAndObjectives}} {{ps aimsAndObjectives}} {{else}} No Aims or Objectives given. {{/if}}
			</div>
			<div class="col-sm-4">
				<h4>Address</h4>
				{{pa this}}
			</div>
		</div>
	</div>

	<div class="panel-footer text-right">
		<a href="#mw-organisations-{{Id}}">View organisation</a>
	</div>
</div>
{{/each}}
<nav>
	<ul class="pager">
		<li class="previous">
			<button class="btn" type="button" data-search="{{previousPage}}" {{#unless previousPage}}disabled{{/unless}}>
				Previous
			</button>
		</li>
		<li class="next">
			<button class="btn" type="button" data-search="{{nextPage}}" {{#unless nextPage}}disabled{{/unless}}>
				Next
			</button>
		</li>
	</ul>
</nav>