<h4>
    <a href="#mw-opportunities-{{Id}}">
        <strong>{{title}}</strong>
        {{#if organisationName}}
            | {{organisationName}}
        {{/if}}
        {{#each ../sorts}}
            ({{round this 2}} miles)
        {{/each}}
    </a>
</h4>

<ul class="list-inline">
    {{#if referenceCode}}
    <li>
        <i class="fa fa-fw fa-book"></i> <strong>Ref:</strong> {{referenceCode}}
    </li>
    {{/if}} {{#if startData}}
    <li>
        <i class="fa fa-fw fa-calendar"></i> <strong>Start Date:</strong> {{startDate}}
    </li>
    {{/if}} {{#if workType}}
    <li>
        <i class="fa fa-fw fa-briefcase"></i> <strong>Work Type:</strong> {{workType}}
    </li>
    {{/if}} {{#if clientGroup}}
    <li>
        <i class="fa fa-fw fa-users"></i> <strong>Client Group:</strong> {{clientGroup}}
    </li>
    {{/if}} {{#if organisationCharityNo}}
    <li>
        <i class="fa fa-fw fa-hashtag"></i> <strong>Charity Number:</strong> {{organisationCharityNo}}
    </li>
    {{/if}}
</ul>

<p>
    {{#if summary}} {{truncate summary 255 '[...]'}} {{else}} No summary given. {{/if}}
</p>
