{{#compare total '>' 0}}
<div class="alert alert-info">
	Number of results: {{total}} | Page {{currentPage}} of {{totalPages}}
</div>
{{else}}
<div class="alert alert-warning">
	<p>No results</p>
</div>
{{/compare}}

{{#each results}}
    {{#if this.rendered.search_result}}{{{this.rendered.search_result}}}{{/if}}
{{/each}}
