<h3>
	{{title}}
    {{#if organisation_name}}
        |
        {{organisation_name}}
    {{/if}}
    {{#each ../sorts}}
        ({{round this 2}} miles)
    {{/each}}
</h3>

<ul class="list-inline">
	{{#if milo_ref}}
	<li>
		<i class="fa fa-fw fa-hashtag"></i> <strong>Ref:</strong> {{milo_ref}}
	</li>
	{{/if}} {{#if start_date}}
	<li>
		<i class="fa fa-fw fa-calendar"></i> <strong>Start date:</strong> {{moment start_date format="dddd, DD MMMM YYYY"}}
	</li>
	{{/if}} {{#if work_type}}
	<li>
		<i class="fa fa-fw fa-briefcase"></i> <strong>Work type:</strong> {{work_type}}
	</li>
	{{/if}} {{#if client_group}}
	<li>
		<i class="fa fa-fw fa-users"></i> <strong>Client group:</strong> {{client_group}}
	</li>
	{{/if}} {{#if organisation_charity_number}}
	<li>
		<i class="fa fa-fw fa-book"></i> <strong>Charity number:</strong> {{organisation_charity_number}}
	</li>
	{{/if}}
</ul>

<h4>
	<i class="fa fa-fw fa-comment-o"></i>
	Summary
</h4>
{{ps summary}}

{{#if description}}
<h4>
	<i class="fa fa-fw fa-file-text-o"></i>
	Opportunity details
</h4>
{{ps description}}

{{/if}} {{#if organisation_aims_and_objectives}}
<h4>
	<i class="fa fa-fw fa-bullseye"></i>
	Organisation's aims and objectives
</h4>
{{ps organisation_aims_and_objectives}} {{/if}}
{{#any monday_morning tuesday_morning wednesday_morning thursday_morning friday_morning
saturday_morning sunday_morning monday_afternoon tuesday_afternoon wednesday_afternoon thursday_afternoon friday_afternoon saturday_afternoon
sunday_afternoon monday_evening tuesday_evening wednesday_evening thursday_evening friday_evening saturday_evening sunday_evening}}
<h4>
	<i class="fa fa-fw fa-clock-o"></i>
	Opening times
</h4>
<div class="table-responsive">
	<table class="table table-condensed">
		<thead>
			<tr>
				<th></th>
				<th style="text-align:center;font-weight:bold;">Mon</th>
				<th style="text-align:center;font-weight:bold;">Tue</th>
				<th style="text-align:center;font-weight:bold;">Wed</th>
				<th style="text-align:center;font-weight:bold;">Thu</th>
				<th style="text-align:center;font-weight:bold;">Fri</th>
				<th style="text-align:center;font-weight:bold;">Sat</th>
				<th style="text-align:center;font-weight:bold;">Sun</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>Morning</th>
				<td style="text-align:center;font-weight:bold;">{{#if monday_morning}}<i class="fa fa-fw fa-check-square-o"></i><span class="visible-print">&#10003;</span>{{else}}<i class="fa fa-fw fa-square-o"></i>{{/if}}</td>
				<td style="text-align:center;font-weight:bold;">{{#if tuesday_morning}}<i class="fa fa-fw fa-check-square-o"></i><span class="visible-print">&#10003;</span>{{else}}<i class="fa fa-fw fa-square-o"></i>{{/if}}</td>
				<td style="text-align:center;font-weight:bold;">{{#if wednesday_morning}}<i class="fa fa-fw fa-check-square-o"></i><span class="visible-print">&#10003;</span>{{else}}<i class="fa fa-fw fa-square-o"></i>{{/if}}</td>
				<td style="text-align:center;font-weight:bold;">{{#if thursday_morning}}<i class="fa fa-fw fa-check-square-o"></i><span class="visible-print">&#10003;</span>{{else}}<i class="fa fa-fw fa-square-o"></i>{{/if}}</td>
				<td style="text-align:center;font-weight:bold;">{{#if friday_morning}}<i class="fa fa-fw fa-check-square-o"></i><span class="visible-print">&#10003;</span>{{else}}<i class="fa fa-fw fa-square-o"></i>{{/if}}</td>
				<td style="text-align:center;font-weight:bold;">{{#if saturday_morning}}<i class="fa fa-fw fa-check-square-o"></i><span class="visible-print">&#10003;</span>{{else}}<i class="fa fa-fw fa-square-o"></i>{{/if}}</td>
				<td style="text-align:center;font-weight:bold;">{{#if sunday_morning}}<i class="fa fa-fw fa-check-square-o"></i><span class="visible-print">&#10003;</span>{{else}}<i class="fa fa-fw fa-square-o"></i>{{/if}}</td>
			</tr>
			<tr>
				<th>Afternoon</th>
				<td style="text-align:center;font-weight:bold;">{{#if monday_afternoon}}<i class="fa fa-fw fa-check-square-o"></i><span class="visible-print">&#10003;</span>{{else}}<i class="fa fa-fw fa-square-o"></i>{{/if}}</td>
				<td style="text-align:center;font-weight:bold;">{{#if tuesday_afternoon}}<i class="fa fa-fw fa-check-square-o"></i><span class="visible-print">&#10003;</span>{{else}}<i class="fa fa-fw fa-square-o"></i>{{/if}}</td>
				<td style="text-align:center;font-weight:bold;">{{#if wednesday_afternoon}}<i class="fa fa-fw fa-check-square-o"></i><span class="visible-print">&#10003;</span>{{else}}<i class="fa fa-fw fa-square-o"></i>{{/if}}</td>
				<td style="text-align:center;font-weight:bold;">{{#if thursday_afternoon}}<i class="fa fa-fw fa-check-square-o"></i><span class="visible-print">&#10003;</span>{{else}}<i class="fa fa-fw fa-square-o"></i>{{/if}}</td>
				<td style="text-align:center;font-weight:bold;">{{#if friday_afternoon}}<i class="fa fa-fw fa-check-square-o"></i><span class="visible-print">&#10003;</span>{{else}}<i class="fa fa-fw fa-square-o"></i>{{/if}}</td>
				<td style="text-align:center;font-weight:bold;">{{#if saturday_afternoon}}<i class="fa fa-fw fa-check-square-o"></i><span class="visible-print">&#10003;</span>{{else}}<i class="fa fa-fw fa-square-o"></i>{{/if}}</td>
				<td style="text-align:center;font-weight:bold;">{{#if sunday_afternoon}}<i class="fa fa-fw fa-check-square-o"></i><span class="visible-print">&#10003;</span>{{else}}<i class="fa fa-fw fa-square-o"></i>{{/if}}</td>
			</tr>
			<tr>
				<th>Evening</th>
				<td style="text-align:center;font-weight:bold;">{{#if monday_evening}}<i class="fa fa-fw fa-check-square-o"></i><span class="visible-print">&#10003;</span>{{else}}<i class="fa fa-fw fa-square-o"></i>{{/if}}</td>
				<td style="text-align:center;font-weight:bold;">{{#if tuesday_evening}}<i class="fa fa-fw fa-check-square-o"></i><span class="visible-print">&#10003;</span>{{else}}<i class="fa fa-fw fa-square-o"></i>{{/if}}</td>
				<td style="text-align:center;font-weight:bold;">{{#if wednesday_evening}}<i class="fa fa-fw fa-check-square-o"></i><span class="visible-print">&#10003;</span>{{else}}<i class="fa fa-fw fa-square-o"></i>{{/if}}</td>
				<td style="text-align:center;font-weight:bold;">{{#if thursday_evening}}<i class="fa fa-fw fa-check-square-o"></i><span class="visible-print">&#10003;</span>{{else}}<i class="fa fa-fw fa-square-o"></i>{{/if}}</td>
				<td style="text-align:center;font-weight:bold;">{{#if friday_evening}}<i class="fa fa-fw fa-check-square-o"></i><span class="visible-print">&#10003;</span>{{else}}<i class="fa fa-fw fa-square-o"></i>{{/if}}</td>
				<td style="text-align:center;font-weight:bold;">{{#if saturday_evening}}<i class="fa fa-fw fa-check-square-o"></i><span class="visible-print">&#10003;</span>{{else}}<i class="fa fa-fw fa-square-o"></i>{{/if}}</td>
				<td style="text-align:center;font-weight:bold;">{{#if sunday_evening}}<i class="fa fa-fw fa-check-square-o"></i><span class="visible-print">&#10003;</span>{{else}}<i class="fa fa-fw fa-square-o"></i>{{/if}}</td>
			</tr>
		</tbody>
	</table>
</div>
{{/any}}
{{#any experience_required restriction_details travel_details minimum_age}}
<h4>
	<i class="fa fa-fw fa-ban"></i>
	Restrictions
</h4>
<dl class="dl-horizontal">
	{{#if experience_required}}
	<dt>
		<i class="fa fa-fw fa-graduation-cap"></i>
		Experience required:
	</dt>
	<dd>{{ps experience_required}}</dd>
	{{/if}}
	{{#if restriction_details}}
	<dt>
		<i class="fa fa-fw fa-flag"></i>
		Restriction details:
	</dt>
	<dd>{{ps restriction_details}}</dd>
	{{/if}}
	{{#if travel_details}}
	<dt>
		<i class="fa fa-fw fa-plane"></i>
		Travel details:
	</dt>
	<dd>{{travel_details}}</dd>
	{{/if}}
	{{#if minimum_age}}
	<dt>
		<i class="fa fa-fw fa-child"></i>
		Minimum age:
	</dt>
	<dd>{{minimum_age}}</dd>
	{{/if}}
</dl>
{{/any}}
{{#any travel_expenses frequency expenses_paid support_options}}
<h4>
	<i class="fa fa-fw fa-life-ring"></i>
	Support
</h4>
<dl class="dl-horizontal">
	{{#if travel_expenses}}
	<dt>
		<i class="fa fa-fw fa-money"></i> Travel expenses:
	</dt>
	<dd>{{travel_expenses}}</dd>
	{{/if}} {{#if frequency}}
	<dt>
		<i class="fa fa-fw fa-clock-o"></i> Frequency:
	</dt>
	<dd>{{frequency}}</dd>
	{{/if}} {{#if expenses_paid}}
	<dt>
		<i class="fa fa-fw fa-gbp"></i> Expenses paid:
	</dt>
	<dd>{{#if expenses_paid}}Yes{{else}}No{{/if}}</dd>
	{{/if}} {{#if support_options}}
	<dt>
		<i class="fa fa-fw fa-list"></i> Support options:
	</dt>
	<dd>{{support_options}}</dd>
	{{/if}}
</dl>
{{/any}}

{{#compare details_to_display_on_vs '==' 'TSI/VC'}}
<h4>
	<i class="fa fa-fw fa-bullhorn"></i>
	Contact {{tsi_name}} TSI on behalf of {{organisation_name}} about this opportunity
</h4>
<dl class="dl-horizontal">
	<dt>
		<i class="fa fa-fw fa-user"></i>
		Contact name:
	</dt>
	<dd>{{tsi_contact_first_name}} {{tsi_contact_last_name}}</dd>

	{{#if tsi_contact_phone}}
	<dt>
		<i class="fa fa-fw fa-phone"></i>
		Phone:
	</dt>
	<dd><a href="tel:{{tsi_contact_phone}}">{{tsi_contact_phone}}</a></dd>
	{{/if}}

	{{#if tsi_contact_email}}
	<dt>
		<i class="fa fa-fw fa-envelope-o"></i>
		Email:
	</dt>
	<dd>
		<a href="mailto:{{tsi_contact_email}}?subject=[{{milo_ref}} {{title}} - Register Interest]" class="btn btn-primary">Register Interest</a>
	</dd>
	{{/if}}
</dl>

{{else}}

<h4>
	<i class="fa fa-fw fa-bullhorn"></i>
	Contact {{organisation_name}} about this opportunity
</h4>
<dl class="dl-horizontal">
	<dt>
		<i class="fa fa-fw fa-user"></i>
		Contact name:
	</dt>
	<dd>{{organisation_contact_first_name}} {{organisation_contact_last_name}}</dd>

	{{#any organisation_location_street organisation_location_area_town organisation_location_city_county organisation_location_postcode}}
		<dt>
			<i class="fa fa-fw fa-home"></i>
			Address:
		</dt>
		<dd>
			{{#if organisation_location_street}}{{organisation_location_street}}, <br />{{/if}}
			{{#if organisation_location_area_town}}{{organisation_location_area_town}}, <br />{{/if}}
			{{#if organisation_location_city_county}}{{organisation_location_city_county}}, <br />{{/if}}
			{{#if organisation_location_postcode}}{{organisation_location_postcode}}{{/if}}
		</dd>
	{{/any}}

	{{#if organisation_contact_phone}}
	<dt>
		<i class="fa fa-fw fa-phone"></i>
		Phone:
	</dt>
	<dd><a href="tel:{{organisation_contact_phone}}">{{organisation_contact_phone}}</a></dd>
	{{/if}}

	{{#if organisation_website}}
	<dt>
		<i class="fa fa-fw fa-external-link"></i>
		Website:
	</dt>
	<dd>
		<a href="{{#startsWith organisation_website "http"}}{{else}}http://{{/startsWith}}{{organisation_website}}" target="_blank">{{organisation_name}}</a>
	</dd>
	{{/if}}

	{{#if organisation_contact_email}}
	<dt>
		<i class="fa fa-fw fa-envelope-o"></i>
		Email:
	</dt>
	<dd>
		<a href="mailto:{{organisation_contact_email}}?subject=[{{milo_ref}} {{title}} - Register Interest]">Register Interest</a>
	</dd>
	{{/if}}
</dl>
{{/compare}}
</div>
