<h3>
	<strong>{{title}}</strong> {{#if organisationName}} | {{organisationName}} {{/if}} {{#each ../sorts}} ({{round this 2}}
	miles) {{/each}}
</h3>

<ul class="list-inline">
	{{#if referenceCode}}
	<li>
		<i class="fa fa-fw fa-book"></i> <strong>Ref:</strong> {{referenceCode}}
	</li>
	{{/if}} {{#if startData}}
	<li>
		<i class="fa fa-fw fa-calendar"></i> <strong>Start date:</strong> {{startDate}}
	</li>
	{{/if}} {{#if workType}}
	<li>
		<i class="fa fa-fw fa-briefcase"></i> <strong>Work type:</strong> {{workType}}
	</li>
	{{/if}} {{#if clientGroup}}
	<li>
		<i class="fa fa-fw fa-users"></i> <strong>Client group:</strong> {{clientGroup}}
	</li>
	{{/if}} {{#if organisationCharityNo}}
	<li>
		<i class="fa fa-fw fa-hashtag"></i> <strong>Charity number:</strong> {{organisationCharityNo}}
	</li>
	{{/if}}
</ul>

<h4>
	<i class="fa fa-fw fa-comment-o"></i>
	Summary
</h4>
{{ps summary}}

{{#if fullDescription}}
<h4>
	<i class="fa fa-fw fa-file-text-o"></i>
	Opportunity details
</h4>
{{ps fullDescription}}

{{/if}} {{#if organisationAims_And_Objectives}}
<h4>
	<i class="fa fa-fw fa-bullseye"></i>
	Organisation's aims and objectives
</h4>
{{ps organisationAims_And_Objectives}} {{/if}}
{{#any mondayMorning tuesdayMorning wednesdayMorning thursdayMorning fridayMorning
saturdayMorning sundayMorning mondayAfternoon tuesdayAfternoon wednesdayAfternoon thursdayAfternoon fridayAfternoon saturdayAfternoon
sundayAfternoon mondayEvening tuesdayEvening wednesdayEvening thursdayEvening fridayEvening saturdayEvening sundayEvening}}
<h4>
	<i class="fa fa-fw fa-clock-o"></i>
	Opening times
</h4>
<div class="table-responsive">
	<table class="table table-condensed">
		<thead>
			<tr>
				<th></th>
				<th style="text-align:center;font-weight:bold;">Mon</th>
				<th style="text-align:center;font-weight:bold;">Tue</th>
				<th style="text-align:center;font-weight:bold;">Wed</th>
				<th style="text-align:center;font-weight:bold;">Thu</th>
				<th style="text-align:center;font-weight:bold;">Fri</th>
				<th style="text-align:center;font-weight:bold;">Sat</th>
				<th style="text-align:center;font-weight:bold;">Sun</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>Morning</th>
				<td style="text-align:center;font-weight:bold;">{{#if mondayMorning}}<i class="fa fa-fw fa-check-square-o"></i><span class="visible-print">&#10003;</span>{{else}}<i class="fa fa-fw fa-square-o"></i>{{/if}}</td>
				<td style="text-align:center;font-weight:bold;">{{#if tuesdayMorning}}<i class="fa fa-fw fa-check-square-o"></i><span class="visible-print">&#10003;</span>{{else}}<i class="fa fa-fw fa-square-o"></i>{{/if}}</td>
				<td style="text-align:center;font-weight:bold;">{{#if wednesdayMorning}}<i class="fa fa-fw fa-check-square-o"></i><span class="visible-print">&#10003;</span>{{else}}<i class="fa fa-fw fa-square-o"></i>{{/if}}</td>
				<td style="text-align:center;font-weight:bold;">{{#if thursdayMorning}}<i class="fa fa-fw fa-check-square-o"></i><span class="visible-print">&#10003;</span>{{else}}<i class="fa fa-fw fa-square-o"></i>{{/if}}</td>
				<td style="text-align:center;font-weight:bold;">{{#if fridayMorning}}<i class="fa fa-fw fa-check-square-o"></i><span class="visible-print">&#10003;</span>{{else}}<i class="fa fa-fw fa-square-o"></i>{{/if}}</td>
				<td style="text-align:center;font-weight:bold;">{{#if saturdayMorning}}<i class="fa fa-fw fa-check-square-o"></i><span class="visible-print">&#10003;</span>{{else}}<i class="fa fa-fw fa-square-o"></i>{{/if}}</td>
				<td style="text-align:center;font-weight:bold;">{{#if sundayMorning}}<i class="fa fa-fw fa-check-square-o"></i><span class="visible-print">&#10003;</span>{{else}}<i class="fa fa-fw fa-square-o"></i>{{/if}}</td>
			</tr>
			<tr>
				<th>Afternoon</th>
				<td style="text-align:center;font-weight:bold;">{{#if mondayAfternoon}}<i class="fa fa-fw fa-check-square-o"></i><span class="visible-print">&#10003;</span>{{else}}<i class="fa fa-fw fa-square-o"></i>{{/if}}</td>
				<td style="text-align:center;font-weight:bold;">{{#if tuesdayAfternoon}}<i class="fa fa-fw fa-check-square-o"></i><span class="visible-print">&#10003;</span>{{else}}<i class="fa fa-fw fa-square-o"></i>{{/if}}</td>
				<td style="text-align:center;font-weight:bold;">{{#if wednesdayAfternoon}}<i class="fa fa-fw fa-check-square-o"></i><span class="visible-print">&#10003;</span>{{else}}<i class="fa fa-fw fa-square-o"></i>{{/if}}</td>
				<td style="text-align:center;font-weight:bold;">{{#if thursdayAfternoon}}<i class="fa fa-fw fa-check-square-o"></i><span class="visible-print">&#10003;</span>{{else}}<i class="fa fa-fw fa-square-o"></i>{{/if}}</td>
				<td style="text-align:center;font-weight:bold;">{{#if fridayAfternoon}}<i class="fa fa-fw fa-check-square-o"></i><span class="visible-print">&#10003;</span>{{else}}<i class="fa fa-fw fa-square-o"></i>{{/if}}</td>
				<td style="text-align:center;font-weight:bold;">{{#if saturdayAfternoon}}<i class="fa fa-fw fa-check-square-o"></i><span class="visible-print">&#10003;</span>{{else}}<i class="fa fa-fw fa-square-o"></i>{{/if}}</td>
				<td style="text-align:center;font-weight:bold;">{{#if sundayAfternoon}}<i class="fa fa-fw fa-check-square-o"></i><span class="visible-print">&#10003;</span>{{else}}<i class="fa fa-fw fa-square-o"></i>{{/if}}</td>
			</tr>
			<tr>
				<th>Evening</th>
				<td style="text-align:center;font-weight:bold;">{{#if mondayEvening}}<i class="fa fa-fw fa-check-square-o"></i><span class="visible-print">&#10003;</span>{{else}}<i class="fa fa-fw fa-square-o"></i>{{/if}}</td>
				<td style="text-align:center;font-weight:bold;">{{#if tuesdayEvening}}<i class="fa fa-fw fa-check-square-o"></i><span class="visible-print">&#10003;</span>{{else}}<i class="fa fa-fw fa-square-o"></i>{{/if}}</td>
				<td style="text-align:center;font-weight:bold;">{{#if wednesdayEvening}}<i class="fa fa-fw fa-check-square-o"></i><span class="visible-print">&#10003;</span>{{else}}<i class="fa fa-fw fa-square-o"></i>{{/if}}</td>
				<td style="text-align:center;font-weight:bold;">{{#if thursdayEvening}}<i class="fa fa-fw fa-check-square-o"></i><span class="visible-print">&#10003;</span>{{else}}<i class="fa fa-fw fa-square-o"></i>{{/if}}</td>
				<td style="text-align:center;font-weight:bold;">{{#if fridayEvening}}<i class="fa fa-fw fa-check-square-o"></i><span class="visible-print">&#10003;</span>{{else}}<i class="fa fa-fw fa-square-o"></i>{{/if}}</td>
				<td style="text-align:center;font-weight:bold;">{{#if saturdayEvening}}<i class="fa fa-fw fa-check-square-o"></i><span class="visible-print">&#10003;</span>{{else}}<i class="fa fa-fw fa-square-o"></i>{{/if}}</td>
				<td style="text-align:center;font-weight:bold;">{{#if sundayEvening}}<i class="fa fa-fw fa-check-square-o"></i><span class="visible-print">&#10003;</span>{{else}}<i class="fa fa-fw fa-square-o"></i>{{/if}}</td>
			</tr>
		</tbody>
	</table>
</div>
{{/any}}
{{#any experienceRequired restrictionDetails travelDetails minimumAge}}
<h4>
	<i class="fa fa-fw fa-ban"></i>
	Restrictions
</h4>
<dl class="dl-horizontal">
	{{#if experienceRequired}}
	<dt>
		<i class="fa fa-fw fa-graduation-cap"></i>
		Experience required:
	</dt>
	<dd>{{ps experienceRequired}}</dd>
	{{/if}}
	{{#if restrictionDetails}}
	<dt>
		<i class="fa fa-fw fa-flag"></i>
		Restriction details
	</dt>
	<dd>{{ps restrictionDetails}}</dd>
	{{/if}}
	{{#if travelDetails}}
	<dt>
		<i class="fa fa-fw fa-plane"></i>
		Travel details
	</dt>
	<dd>{{travelDetails}}</dd>
	{{/if}}
	{{#if minimumAge}}
	<dt>
		<i class="fa fa-fw fa-child"></i>
		Minimum age
	</dt>
	<dd>{{minimumAge}}</dd>
	{{/if}}
</dl>
{{/any}}
{{#any travelExpenses frequency expensesPaid supportOptions}}
<h4>
	<i class="fa fa-fw fa-life-ring"></i>
	Support
</h4>
<dl class="dl-horizontal">
	{{#if travelExpenses}}
	<dt>
		<i class="fa fa-fw fa-money"></i> Travel expenses:
	</dt>
	<dd>{{travelExpenses}}</dd>
	{{/if}} {{#if frequency}}
	<dt>
		<i class="fa fa-fw fa-clock-o"></i> Frequency:
	</dt>
	<dd>{{frequency}}</dd>
	{{/if}} {{#if expensesPaid}}
	<dt>
		<i class="fa fa-fw fa-gbp"></i> Expenses paid:
	</dt>
	<dd>{{#if expensesPaid}}Yes{{else}}No{{/if}}</dd>
	{{/if}} {{#if supportOptions}}
	<dt>
		<i class="fa fa-fw fa-list"></i> Support options:
	</dt>
	<dd>{{supportOptions}}</dd>
	{{/if}}
</dl>
{{/any}}

{{#compare detailsToDisplayOnVS '==' 'TSI/VC'}}
<h4>
	<i class="fa fa-fw fa-bullhorn"></i>
	Contact {{tsiName}} TSI on behalf of {{organisationName}} about this opportunity
</h4>
<dl class="dl-horizontal">
	<dt>
		<i class="fa fa-fw fa-user"></i>
		Contact name:
	</dt>
	<dd>{{tsiContactFirstName}} {{tsiContactLastName}}</dd>

	{{#any organisationLocationsStreet organisationLocationsAreaTown organisationLocationsCityCounty organisationLocationsPostcode}}
		<dt>
			<i class="fa fa-fw fa-home"></i>
			Address:
		</dt>
		<dd>
			{{#if organisationLocationsStreet}}{{organisationLocationsStreet}}, <br />{{/if}}
			{{#if organisationLocationsAreaTown}}{{organisationLocationsAreaTown}}, <br />{{/if}}
			{{#if organisationLocationsCityCounty}}{{organisationLocationsCityCounty}}, <br />{{/if}}
			{{#if organisationLocationsPostcode}}{{organisationLocationsPostcode}}{{/if}}
		</dd>
	{{/any}}

	{{#if tsiContactPhone}}
	<dt>
		<i class="fa fa-fw fa-phone"></i>
		Phone:
	</dt>
	<dd><a href="tel:{{tsiContactPhone}}">{{tsiContactPhone}}</a></dd>
	{{/if}}

	{{#if organisationWebsite}}
	<dt>
		<i class="fa fa-fw fa-external-link"></i>
		Website:
	</dt>
	<dd>
		<a href="{{#startsWith organisationWebsite "http"}}{{else}}http://{{/startsWith}}{{organisationWebsite}}" target="_blank">Visit website</a>
	</dd>
	{{/if}}

	{{#if tsiContactEmail}}
	<dt>
		<i class="fa fa-fw fa-envelope-o"></i>
		Email:
	</dt>
	<dd>
		<a href="mailto:{{tsiContactEmail}}">Email {{tsiContactFirstName}} {{tsiContactLastName}}</a>
	</dd>
	{{/if}}
</dl>

{{else}}

<h4>
	<i class="fa fa-fw fa-bullhorn"></i>
	Contact {{organisationName}} about this opportunity
</h4>
<dl class="dl-horizontal">
	<dt>
		<i class="fa fa-fw fa-user"></i>
		Contact name:
	</dt>
	<dd>{{organisationContactFirstName}} {{organisationContactLastName}}</dd>

	{{#any organisationLocationsStreet organisationLocationsAreaTown organisationLocationsCityCounty organisationLocationsPostcode}}
		<dt>
			<i class="fa fa-fw fa-home"></i>
			Address:
		</dt>
		<dd>
			{{#if organisationLocationsStreet}}{{organisationLocationsStreet}}, <br />{{/if}}
			{{#if organisationLocationsAreaTown}}{{organisationLocationsAreaTown}}, <br />{{/if}}
			{{#if organisationLocationsCityCounty}}{{organisationLocationsCityCounty}}, <br />{{/if}}
			{{#if organisationLocationsPostcode}}{{organisationLocationsPostcode}}{{/if}}
		</dd>
	{{/any}}

	{{#if organisationContactPhone}}
	<dt>
		<i class="fa fa-fw fa-phone"></i>
		Phone:
	</dt>
	<dd><a href="tel:{{organisationContactPhone}}">{{organisationContactPhone}}</a></dd>
	{{/if}}

	{{#if organisationWebsite}}
	<dt>
		<i class="fa fa-fw fa-external-link"></i>
		Website:
	</dt>
	<dd>
		<a href="{{#startsWith organisationWebsite "http"}}{{else}}http://{{/startsWith}}{{organisationWebsite}}" target="_blank">Visit website</a>
	</dd>
	{{/if}}

	{{#if organisationContactEmail}}
	<dt>
		<i class="fa fa-fw fa-envelope-o"></i>
		Email:
	</dt>
	<dd>
		<a href="mailto:{{organisationContactEmail}}">Email {{organisationContactFirstName}} {{organisationContactLastName}}</a>
	</dd>
	{{/if}}
</dl>
{{/compare}}
</div>
