{{#compare total '>' 0}}
<div class="alert alert-info">
	Number of results: {{total}} | Page {{currentPage}} of {{totalPages}}
</div>
{{else}}
<div class="alert alert-warning">
	<p>No results</p>
</div>
{{/compare}}

{{#each results}}
    {{#if registeredCharityNo}}
    	<div class="mw-organisation-result" id="mw-organisations-result-{{registeredCharityNo}}">
    		<h4>
    			<strong>{{name}}</strong>
    		</h4>
            <p>Please use the following code to embed the Milo widget for <strong>{{name}}</strong> volunteering opportunities on your own website:</p>
            <div class="embed copyable" id="embed-{{Id}}">&lt;script src="https://milo.scvo.org/opportunities-organisation.bundle.js" data-org="{{registeredCharityNo}}" data-hide-map="true"</span>&gt;&lt;/script&gt;</div>
            <button class="btn btn-sm copy" data-source="embed-{{Id}}" unselectable="on"><i class="fa fa-clipboard" aria-hidden="true"></i> Copy</button>
    	</div>
    {{else}}
    <div class="mw-organisation-result">
        <h4>
            <strong>{{name}}</strong>
        </h4>
        <p>
            Volunteering opportunities for this organisation cannot be embedded as no charity number is listed.
        </p>
    </div>
    <hr />
    {{/if}}
{{/each}}
