{{#compare total '>' 0}}
<div class="alert alert-info">
	Number of results: {{total}} | Page {{currentPage}} of {{totalPages}}
</div>
{{else}}
<div class="alert alert-warning">
	<p>No results</p>
</div>
{{/compare}}

{{#each results}}
	<div class="mw-organisation-result" id="mw-organisations-result-{{Id}}">
		<h3>
			<a href="#mw-organisations-{{Id}}">
				{{name}}
				{{#if registeredCharityNo}}
					<small>({{registeredCharityNo}})</small>
				{{/if}}
			</a>
		</h3>

		<p>
			{{#if aimsAndObjectives}} {{truncate aimsAndObjectives 255 '[...]'}} {{else}} No aims or objectives given. {{/if}}
		</p>
		<p>
			{{#any locationAreaTown locationCityCounty locationPostcode locationStreet}}
				{{#if locationStreet}}{{locationStreet}}, {{/if}}
				{{#if locationAreaTown}}{{locationAreaTown}}, {{/if}}
				{{#if locationCityCounty}}{{locationCityCounty}}, {{/if}}
				{{#if locationPostcode}}{{locationPostcode}}{{/if}}
			{{else}}
				No address given
			{{/any}}
		</p>
	</div>
{{/each}}
