{{#compare total '>' 0}}
<div class="alert alert-info">
	Number of results: {{total}} | Page {{currentPage}} of {{totalPages}}
</div>
{{else}}
<div class="alert alert-warning">
	<p>No results</p>
</div>
{{/compare}}

{{#each results}}
	<div class="mw-organisation-result" id="mw-organisations-result-{{Id}}">
		<h3>
			<a href="#mw-organisations-{{Id}}">
				{{title}}
				{{#if registered_charity_number}}
					<small>({{registered_charity_number}})</small>
				{{/if}}
			</a>
		</h3>

		<p>
			{{#if aims_and_objectives}} {{truncate aims_and_objectives 255 '[...]'}} {{else}} No aims or objectives given. {{/if}}
		</p>
		<p>
			{{#any location_street location_area_town location_city_county location_postcode}}
				{{#if location_street}}{{location_street}}, {{/if}}
				{{#if location_area_town}}{{location_area_town}}, {{/if}}
				{{#if location_city_county}}{{location_city_county}}, {{/if}}
				{{#if location_postcode}}{{location_postcode}}{{/if}}
			{{else}}
				No address given
			{{/any}}
		</p>
	</div>
{{/each}}
