<h2>
    {{title}}
    {{#if registered_charity_number}}
    <small>({{registered_charity_number}})</small>
    {{/if}}
</h2>

<div class="row">
    <div class="col-sm-12 col-md-8">
        <div class="row">
            <div class="col-sm-6">
                <h3>Primary Address</h3>
                {{#any location_street location_area_town location_city_county location_postcode}}
                    {{#if location_street}}{{location_street}}, <br />{{/if}}
                    {{#if location_area_town}}{{location_area_town}}, <br />{{/if}}
                    {{#if location_city_county}}{{location_city_county}}, <br />{{/if}}
                    {{#if location_postcode}}{{location_postcode}}{{/if}}
                {{else}}
                    No address given
                {{/any}}
            </div>
            <div class="col-sm-6">
                <h3>Contact information</h3>
                <ul class="list-unstyled">
                    {{#if phone}}
                    <li>
                        <strong>Phone:</strong>
                        <a href="tel:{{phone}}">{{phone}}</a>
                    </li>
                    {{/if}} {{#if email}}
                    <li>
                        <strong>Email:</strong>
                        <a href="mailto:{{email}}">Send email</a>
                    </li>
                    {{/if}} {{#if website}}
                    <li>
                        <strong>Website:</strong>
                        <a href="{{#startsWith website "http"}}{{else}}http://{{/startsWith}}{{website}}">Visit website</a>
                    </li>
                    {{/if}}
                    {{#if twitter}}
                    <li>
                        <strong>Twitter:</strong>
                        <a href="{{#startsWith twitter "http"}}{{else}}https://{{/startsWith}}{{twitter}}">
                            <i class="fa fa-fw fa-twitter"></i>
                            Twitter
                        </a>
                    </li>
                    {{/if}}
                    {{#if facebook}}
                    <li>
                        <strong>Facebook:</strong>
                        <a href="{{#startsWith facebook "http"}}{{else}}https://{{/startsWith}}{{facebook}}">
                            <i class="fa fa-fw fa-facebook"></i>
                            Facebook
                        </a>
                    </li>
                    {{/if}}
                </ul>
            </div>
        </div>
        <h3>Aims and objectives</h3>
        {{#if description}} {{ps description}} {{else}} No aims or objectives given. {{/if}}
    </div>
    <div class="col-sm-12 col-md-4">
        <h3>Activities</h3>
        <ul class="list-unstyled">
            {{#each main_activities_global}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
    </div>
</div>
